.container {
  border: 1px solid #444;
  margin: 5rem 20rem;
  width: 10rem;
  background-color: #444;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
