@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
  background: rgb(80, 80, 80);
  font-family: 'Roboto', sans-serif;
}

header {
  background: #393939;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

a {
  font-style: none;
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.login,
.signup {
  background: blue;
  padding: 5px;
  border-radius: 5px;
}

.search {
  width: 30rem;
  /* height: 2rem; */
}
